<form name="newTopicForm" novalidate ng-submit="save()">
    <fieldset>
        <div>
            <label for="title">Title</label>
            <input name="title" type="text" required data-ng-model="newTopic.title" ng-minlength="5" />
            <span class="error" ng-show="newTopicForm.title.$error.required">*</span>
            <span class="error" ng-show="newTopicForm.title.$error.minlength">Minimum 5 characters</span>
        </div>
        <div>
            <label for="body">Body</label>
            <textarea name="body" rows="5" cols="30" required data-ng-model="newTopic.body" ng-minlength="15" />
            <span class="error" ng-show="newTopicForm.body.$error.required">*</span>
            <span class="error" ng-show="newTopicForm.body.$error.minlength">Minimum 15 characters</span>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Save" ng-disabled="newTopicForm.$invalid"/>
            <a href="#/" class="btn btn-primary">Cancel</a>
        </div>
    </fieldset>
</form>
